.popular-skills {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  margin-top: 5rem;

  /* border: 1px solid blue; */
  gap: 4rem;
}

.popular-skills__image {
  margin-top: 4rem;
}

.popular-skills__image img {
  width: 350px;
  height: 350px;
  border-radius: 2rem;
  object-fit: cover;
  overflow: hidden;
}

.popular-skills__border {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-skills__text {
  width: 600px;
  height: 300px;

  display: grid;
  align-items: center;
  justify-content: center;
}

.popular-skills__text h5 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 32px;

  color: #282938;
}

.popular-skills__text h2 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  margin-top: 2px;
  text-transform: capitalize;

  color: #282938;
}

.popular-skills__text h4 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 15px;
  margin-top: 2rem;
  line-height: 25px;

  text-transform: capitalize;
  color: #1c1e53;
}
